body {
	overflow: hidden;
	background-color: #111;
	color: #fff;
}

#editor {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	/*font-family: inconsolata, sans-serif;*/
	/*font-family: source-code-pro, sans-serif;
	font-weight: 300;
	font-style: normal;*/
}

.label-right-justify {
	text-align:right;
}


